.weatherCont{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #ffffff;
    padding: 10px;
    max-width: 900px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgb(47, 47, 47);
    text-align: left;
    scroll-margin-top: 100px;

    h2{
        padding-left: 20px;
    }
}