body {
    background-color: #bfffff;
    height: 100%;
    width: 100%;
    font-family: "Bangers", cursive;
  }
  #title {
    background-color: white;
    width: 28%;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 35px;
    text-align: center;
    font-family: "Bangers", cursive;
    font-size: 3.5rem;
    color: #f9b3e7;
    text-shadow: 2px 2px 1px black, 4px 4px 6px #753764;
  }
  #easy,
  #medium,
  #hard {
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.75;
    margin-bottom: 4px;
    color: black;
  }
  #easy {
    background-color: #a3d6bd;
  }
  #medium {
    background-color: #fff5bf;
  }
  #hard {
    background-color: #ff9b9b;
  }
  #easy:hover,
  #medium:hover,
  #hard:hover {
    box-shadow: 2px 8px 5px 0 rgba(0, 0, 0, 0.24),
      2px 10px 15px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  #easy:active,
  #medium:active,
  #hard:active {
    transform: translateY(4px);
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.24),
      2px 6px 15px 0 rgba(0, 0, 0, 0.19);
  }
  #levelBtnContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px black, 3px 3px 10px #666;
    font-size: 1.8rem;
    z-index: 10;
    position: relative;
  }
  #cardContainer {
    position: absolute;
    background: none;
    top: 24%;
    height: 700px;
  }
  .card {
    display: inline-block;
    width: 160px;
    height: 224px;
    padding: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
  }
  .front {
    transform: rotateY(180deg);
  }
  .flipCard {
    transform: rotateY(180deg) translateX(-9px);
  }
  .dogImgs,
  .cardBack {
    width: 160px;
    height: 224px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2),
      4px 4px 12px 0 rgba(0, 0, 0, 0.19);
  }
  .hideButton {
    display: none !important;
    height: 1px !important;
  }
  .hideCards {
    opacity: 0.2;
  }
  #youWonContainer {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px 1px black, 3px 3px 8px #f9b3e7;
    padding: 5px;
    background-color: #f9b3e7;
    width: 52%;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4),
      4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  #matchCountContainer,
  #timerContainer {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px black, 3px 3px 8px #666;
    font-size: 1.6rem;
    padding: 3px;
    margin-left: 20px;
  }
  div[difficulty="easy"] {
    width: 520px;
    left: calc(50% - 520px/2);
  }
  div[difficulty="medium"] {
    width: 680px;
    left: calc(50% - 680px/2);;
  }
  div[difficulty="hard"] {
    width: 850px;
    left: calc(50% - 850px/2);;
  }