// Homepage styles//
header.home-hero {
    background-image: url(../assets/Images/homepage-hero.jpg);
    
    p, 
    h1 {
        text-shadow: 3px 3px 4px #000;
        color: #fff;
        opacity: 100%;
    }
    h1 {
        margin-top: 225px;
    }
    p {
        -webkit-text-stroke-width: 0.6px;
        -webkit-text-stroke-color: black;
    }
}

// Logo animation //
@keyframes drop {
    0% {
        top: -965px;
    }

    100% {
        top: 135px;
    }
}
.asset-container {
    position:absolute;
    top: -965px;
    left:calc(50% - 51px);
    z-index:0;
    animation: drop 1s cubic-bezier(0.58,-0.01, 0.41, 1.49) 200ms forwards;
    img {
        position: absolute;
    }
}
@keyframes fade {
    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}
.fade-out{
    animation: fade 1s cubic-bezier(0.58,-0.01, 0.41, 1.49) 1.5s forwards;
}
header.bg-jamul {
    background-color: #007079;
    h1,
    p {
        z-index: 5;
        position: relative;
    }
}
.home-svg {
    background-image: url(../assets/Images/jamul-logo-covered.svg);
}

// Form styles //
.jamul-input-styles {
    background-color: #007079;
    color: #fff;
}
.bi-star-fill {
    color: #007079;
}
.no-fill {
    color: #333;
    opacity: 50%;
}
.list-title {
    display: inline-block;
    width: 200px;
}
input:checked[type=checkbox] {
    background-color: #007079;
    color: #fff;
}
form.review-form {
    padding: 20px 170px;
}
div.genres div {
    display: inline-block;
    flex: auto;
    justify-content: left;
    width: 21%;
    padding-left: 50px;
}
// Review page styles
.card.review-details {
    color: #333;
    
    @media (min-width:992px) {
     
            width: 241px;
            margin-top: 180px;
            margin-left: 20px;
            box-shadow: 3px 3px 4px #1c1c1c;
    }
    @media (max-width:1025px) {

        margin-left: 0;
    }
}
.review-header {
    img {
        transform: scale(.8);
    }
    @media (max-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        height: 100px;
    }
}
.review-h1 {
    margin-left: 20px;
    text-shadow: 3px 3px 4px #1c1c1c;
}
.review-by {
    text-shadow: 2px 2px 3px #1c1c1c
}
.review-text {
    background-color: #fff;
    color: #000;
    box-shadow: 3px 3px 4px #1c1c1c;

    p {
        font-size: 1.15rem;
    }
}
.bg-jamul-teal {
    background-color: #007079;
    color: #fff;
}

.position-fixed {
    top: -138px;
    margin-top: 145px !important;
}

// Media Queries//
@media (max-width: 600px) {
    header.home-hero {
        background-image: url(../assets/Images/homepage-hero_sm.jpg);
    }
    form.review-form {
        padding: 0 10px;
    }
}
@media (max-width: 996px) {
    div.genres div {
        display: flex;
        flex: auto;
        justify-content: left;
        width: 35%;
        padding-left: 50px;

        label {
            padding-left: 5px;
        }
    }
    form.review-form {
        padding: 0 100px;
    } 
    .home-review-card-container {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
    } 
} 
@media (max-width: 800px) {
    .home-review-card-container {
        flex-direction: column;
        align-items: center;
    }
    .home-review-cards {   
        flex-direction: column;
        width: 70%;
    } 
}

    
@media (max-width: 732px) {
    div.genres div {
        display: flex;
        flex: auto;
        justify-content: left;
        width: 51%;
        padding-left: 50px;
    }
    form.review-form {
        padding: 0 50px;
    }
}
