body {
  background-color: #90c7e3;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
  background-repeat: no-repeat;
}
#wrapper {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px 3px #333333;
}
header {
  background-color: #000032;
  color: #ffffff;
  background-image: url(images/sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 60px;
  padding-top: 15px;
  text-align: center;
}
nav {
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}
ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}
main {
  padding: 1px 20px 20px;
  display: block;
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  color: #1976d2;
  text-shadow: 1px 1px #CCCCCC;
}
h3 {
  color: #000033;
}
dt {
  color: #002171;
}
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  padding: 2em;
}
.resort {
  color: #1976d2;
  font-weight: bold;
}
#contact {
  font-size: 90%;
}
#homehero {
  height: 300px;
  background-image: url(images/coast.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#yurthero {
  height: 300px;
  background-image: url(images/yurt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#trailhero {
  height: 300px;
  background-image: url(images/trail.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

