.weatherCont{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgb(91, 200, 255);
    padding: 10px;
    max-width: 700px;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgb(47, 47, 47);
    text-align: center;

    .pLeft{
        text-align: left;
        padding-left: 90px;
    }

    h1{
        color: white;
        text-shadow: 2px 2px 4px rgb(34, 34, 34);
        font-size: 2.5rem;
    }
    img{
        scale: 1.5;
    }
}
.humidityBar{
    --bg-width: 0%;

    display: inline-block;
    margin-left: 5px;
    border: 1px solid black;
    width: 120px;
    height: 12px;
    padding: 0;

    div{
        height: 100%;
        width: var(--bg-width);
        background-color: black;
    }
}