*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid black;
    background: linear-gradient(lightblue, darkblue, black);
}
.header{
    position: absolute;
    text-align: center;
    top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: blue;
    text-shadow: 1px 1px 2px black;
}
p {
    font-weight: bold;
    color: red;
}