<!-- <div class="footer-cont"> -->
<!-- <div class="navbar-nav footer-links">
    <li class="nav-item">
      <a routerLink="recipes" class="nav-link">View All Recipes</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link">Add New Recipe</a>
    </li>
    <li class="nav-item">
      <a routerLink="shopping" class="nav-link">View Shopping List</a>
    </li>
  </div> -->
<div class="navbar sticky-bottom navbar-expand navbar-dark bg-secondary footer">
  <!-- <p class="ms-5">contact&#64;recipesaver.com</p> -->
  <p class="copywrite">&copy; Haylee Graham 2023</p>
</div>
<!-- </div> -->
