* {
  box-sizing: border-box;
}
body {
  background-color: #eaeaea;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  width: 80%;
  margin: auto;
  min-width: 960px;
  max-width: 2048px;
  border: 1px solid #000033;
  box-shadow: 3px 3px 3px #333333;
  background-color: #90c7e3;
  background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
}
header {
  background-color: #000032;
  color: #ffffff;
  background-image: url(images/sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  padding-top: 30px;
  text-align: center;
}
header a {
  text-decoration: none;
}
header a:link,
header a:visited {
  color: #ffffff;
}
header a:hover {
  color: #90c7e3;
}
nav {
  font-weight: bold;
  float: left;
  padding: 1.5em 0.5em;
  width: 160px;
}
nav ul {
  font-size: 1.2em;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #5c7fa3;
}
nav a:visited {
  color: #344873;
}
nav a:hover {
  color: #a52a2a;
}
main {
  background-color: #ffffff;
  margin-left: 190px;
  padding: 1px 20px 20px 30px;
  display: block;
  overflow: auto;
}
section {
  float: left;
  padding-left: 2em;
  padding-right: 2em;
  width: 33%;
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 0.25em;
  font-size: 3em;
}
h2 {
  color: #1976d2;
  text-shadow: 1px 1px #cccccc;
}
h3 {
  color: #000033;
}
dt {
  color: #002171;
}
footer {
  background-color: #ffffff;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  margin-left: 190px;
  padding: 2em;
}
.resort {
  color: #1976d2;
  font-weight: bold;
}
#contact {
  font-size: 90%;
}
#homehero {
  height: 300px;
  background-image: url(images/coast2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
#yurthero {
  height: 300px;
  background-image: url(images/yurt.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
#trailhero {
  height: 300px;
  background-image: url(images/trail.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
