.recipe-detailed-cont{
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px ;
    h2{
        text-align: center;
        width: 100%;
    }
    img{
        height: 400px;
        width: 600px;
        margin: 0 auto;
        border-radius: 10px;
    }
    table{
        width: 55%;
        margin-left: 347px;
    }
}

.link-cont{
    max-width: 250px;
}
h3{
    width: 100%;
    padding-left: 20px;
    text-align: center;
}
p{
   max-width: 90%;
   margin: 0 auto;
   text-align: center;
}
.ingredients-cont,
.instructions-cont{
    text-align: center;
    width: 100%;
}
.ingredients-cont{
    padding-top: 10px;
}
.delete-btn{
    display: flex;
    margin: 0 auto;
    font-weight: bold;
}
.top-card-cont{
   background-color: rgba(194, 193, 193, 0.453);
   display: flex;
    flex-wrap: wrap;
    border-bottom: 1.5px solid black;
    padding-bottom: 20px;
}