<!-- Will add a full user log in system with email/password & eventually... -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <img src="../../../assets/images/recipe_logo.png" alt="Recipe Book Image" />
  <a href="#" class="navbar-brand">Recipe Saver</a>
</nav>
<div class="modal-cont">
  <div class="left-side-cont">
    <img src="" alt="" />
    <div class="intro-p-cont">
      <p>
        Recipe Saver is a website designed to store your recipes so you can
        always find your favorites. Add recipes with their online links, photos,
        notes, and more. Add ingredients from your recipes straight to your
        shopping list. Happy cooking!
      </p>
    </div>
  </div>
  <div class="right-side-cont">
    <div class="log-in-cont">
      <h3>Log In</h3>
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" name="password" />
      <button class="btn">Log In</button>
    </div>
  </div>
</div>
