.form-group{
    display: inline-flex !important;
    left: 800px;
    position: relative;
    height: 35px;
    input{
        max-width: 200px;
    }
}
.recipe-card{
    margin: 20px 10px 20px 13px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    float: inline-start;
    img{
        height: 200px;
        width: 250px;
        align-self: center;
        margin: 0 auto;
        border-radius: 10px;
    }
    h5,
    p{
        margin: 0 auto;
       
    }
    p{
        width: 100%;
        text-align: center;
    }
}
h2{
    text-align: center;
}
.recipes-cont{
    border: 1.5px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 1296px;
    min-height: 690px;
}
.sort-cont{
    position: relative;
    left: 1120px;
    margin-bottom: 5px;
    width: 200px;
    select{
        margin-left: 5px;
        border-radius: 5px;
    }
    
}
h3{
    width: 200px;
    margin-left: 5px;
}
select{
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
}
