html, 
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#introScreen {
    display: flow-root;
    background-image: url("assets/jungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 0;
}
#introTextCont{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: beige;
    border-radius: 50px;
    width: 850px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4),
      4px 4px 8px 0 rgba(0, 0, 0, 0.3);
}
#gameScreen {
    display: none;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
}
#dinoImg{
    position: absolute;
    height: 440px;
    width: 922px;
    padding-top: 45px;
    left: 100px;
}
#letterBank{
    position: absolute;
    right: 100px;
    top: 45px;
    height: 425px;
    width: 320px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    font-size: 1.2rem;
}
#inputBtnCont{
    position: absolute;
    top: 500px;
    left: 105px;
    height: fit-content;
    width: fit-content;
    padding-top: 20px;
}
#hintCont{
    position: absolute;
    top: 88%;
    left: 7%;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    font-size: 1.2rem;
}
#hint{
    font-weight: normal;
}
#blankSpaces{
    position: absolute;
    top: 535px;
    left: 105px;
    height: fit-content;
    width: fit-content;
    padding-top: 10px;
}
.space {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }
  #usedLetters span{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px;
  }
  #asteroid{
    position: absolute;
    left: 3%;
    top: -3%;
    height: 75px;
    width: 210px;
    transform: rotate(-130deg);
    z-index: 1;
    scale: 1;
}
.hide{
    display: none;
}