html, 
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace
}
#introScreen {
    display: flow-root;
    background-image: url(assets/jungle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 0;
    position: absolute;
    margin: 0 auto;
    display: block;
    z-index: 50;
}
#introTextCont{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    padding-bottom: 20px;
    background-color: beige;
    border-radius: 50px;
    width: 1030px;
    opacity: .8;
    border: 1px solid black;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.4),
      4px 4px 8px 0 rgba(0, 0, 0, 0.3);
}
#gameScreen {

    margin: 0 auto;
    width: 1300px;
}
#imgBankCont{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 45px;
}
#dinoImg{
    position: absolute;
    height: 100%;
    width: 100%;
}
#letterBank{
    position: relative;
    height: 425px;
    width: 320px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    font-size: 1.2rem;
}
#inputBtnCont{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 920px;
    padding-top: 30px;
    z-index: 5;
}
#submitBtn{
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid black;
}
#resetBtn{
    position: relative;
    margin-left: 820px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid black;
}
#introTextCont button{
    border-radius: 7px;
    opacity: 1;
    width: 100px;
    cursor: pointer;
    border: 2px solid black;
}
#introTextCont button:hover,
#resetBtn:hover,
#submitBtn:hover {
  box-shadow: 2px 8px 5px 0 rgba(0, 0, 0, 0.24),
    2px 10px 15px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}
#introTextCont button:active,
#resetBtn:active,
#submitBtn:active {
  transform: translateY(4px);
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.24),
    2px 6px 15px 0 rgba(0, 0, 0, 0.19);
}
#hintCont{
    position: relative;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 20px;
}
#hint{
    font-weight: normal;
}
#blankSpaces{
    position: relative;
    height: fit-content;
    width: fit-content;
}
.space {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }
  #usedLetters span{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px;
  }
  #asteroid{
    position: absolute;
    left: -90px;
    top: -30px;
    height: 75px;
    width: 210px;
    transform: rotate(-130deg);
    z-index: 1;
    scale: 1;
    opacity: 0;
}
#error{
    color: red;
    padding-left: 10px;
}
#message{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
}
#explosion{
    opacity: 0;
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
}
#dinoImgCont{
    position: relative;
    display: inline-block;
    height: 440px;
    width: 922px;
    margin-right: 50px;
}
#dinoFire{
    opacity: 0;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
}
.hide{
    display: none !important;
}