h2{
    text-align: center;
    margin-bottom: 20px;
}
.category-checkboxes{
    display: inline-flex;
    width: 300px;
    margin-left: 25px;
}
.category-label{
    width: 100%;
}
.submit-button{
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}
.submit-form{
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 20px 80px 10px 80px;
    background-color: rgba(194, 193, 193, 0.453);
}